exportPattern("^[[:alpha:]]+")
importFrom("openai", "create_chat_completion")
importFrom("gemini.R", "gemini_chat")
importFrom("utils", "setTxtProgressBar")
importFrom("digest", "digest")
importFrom("dplyr", "mutate", "left_join", "row_number", "rename_with", "ends_with")
importFrom("shiny", "fluidPage", "titlePanel", "HTML", "sidebarLayout", "sidebarPanel",
           "textInput", "updateTextInput", "tags", "uiOutput", "textAreaInput",
           "sliderInput", "actionButton", "mainPanel", "observe", "req",
           "selectInput", "updateSelectInput", "renderUI", "observeEvent",
           "runGadget", "paneViewer")
importFrom("shinyWidgets", "pickerInput", "updatePickerInput", "radioGroupButtons")
importFrom("DT", "dataTableOutput", "renderDataTable", "datatable", "JS")
importFrom("httr", "POST", "add_headers", "content", "http_status")
importFrom("jsonlite", "fromJSON", "toJSON")
importFrom("spsComps", "shinyCatch")
importFrom("shinyjs", "useShinyjs", "toggle", "hidden")